.button1{
  height: 30px;
  width: 150px;
  padding: 5px 15px;
  border-radius: 10px;
  background-color: lightgreen;
  border: none;
}
.button{
  height: 30px;
  width: 180px;
  padding: 5px 15px;
  border-radius: 10px;
  border: solid black 2px;
  text-transform: uppercase;
}